<div class="pl20 pr30 pb35 pt5">
    <p class="lh36">基地面积：{{informations.areaOfBase?informations.areaOfBase+'㎡':no}}</p>
    <p class="lh36">房屋总面积：{{informations.grossArea?informations.grossArea+'㎡':no}}</p>
    <p class="lh36">楼层：{{informations.numberOfPlies?informations.numberOfPlies+'层':no}}</p>
    <p class="lh36">住宅面积：{{informations.houseArea?informations.houseArea+'㎡':no}}</p>
    <p class="lh36">商业面积：{{informations.commerceArea?informations.commerceArea+'㎡':no}}</p>
    <p class="lh36">违建面积：{{informations.violateArea?informations.violateArea+'㎡':no}}</p>
</div>