<app-head></app-head>

<div app-left></div>
<div class="l-rightsider   pb55">
    <div class="pl15 pr18 pt15 pb15 back-white">
        <!--顶部关注-->
        <div class="clearfix">
            <div class=" clearfix ml35 mt20 ml30 ">
                <div class="left clearfix container">
                    <div class="left">
                        <i class="h-wdgzimg radius50 left"><img src="image/h-yangtouxiang.png" alt=""></i>
                        <div class="left ml35">
                            <p>用户名，吃顿丰盛的午餐犒劳一下自己吧~</p>
                            <div class="clearfix">
                                <a href="javascript:void (0)" class="h-wdgza fl " onclick="hopruletab('myworkfour')" >
                                    <i class="h-wdgzi ml25 mt30"></i>
                                    <p class="h-wdgza">添加跟进信息</p>
                                </a>
                                <a href="javascript:void (0)" class="h-wdgza fl ml10" onclick="hopruletab('myworkfour')">
                                    <i class="h-wdgzi ml25 mt30"></i>
                                    <p class="h-wdgza">添加跟进信息</p>
                                </a>
                                <a href="javascript:void (0)" class="h-wdgza fl ml10" onclick="hopruletab('myworkfour')">
                                    <i class="h-wdgzi ml25 mt30"></i>
                                    <p class="h-wdgza">添加跟进信息</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-csrbdinp right clearfix">
                        <i class="c-iconfont mt8 ml10 left" ></i>
                        <input class="ml10 left" type="text" placeholder="请输入产品名称">
                    </div>
                </div>
            </div>
        </div>
        <!--下面主体-->
        <div class="mt15 mb20  clearfix ">
            <div class="c-xmxql left clearfix ">
                <h3 class="c-xmxqlh pl35 fs16 c3">今日工作提醒</h3>
                <div class="h-gztx">
                    <span class="c3 pt10 disblock ml30"> 2017年6月9日</span>
                    <ul class="clearfix h-wdgzul mt10 ml10 mr10">
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                        <li>8:00</li>
                    </ul>
                    <ul class="clearfix mt10  mr10">
                        <li class="h-wdgzulone radius5 ml10 fl">
                            <span class="left pl10 lh40">工作提醒</span>
                            <span class="right lh40 pr10"><em>15</em>项</span>
                        </li>
                        <li class="h-wdgzulone radius5 ml10 fl">
                            <span class="left pl10 lh40">工作提醒</span>
                            <span class="right lh40 pr10"><em>15</em>项</span>
                        </li>
                        <li class="h-wdgzulone radius5 ml10 fl">
                            <span class="left pl10 lh40">工作提醒</span>
                            <span class="right lh40 pr10"><em>15</em>项</span>
                        </li>
                        <li class="h-wdgzulone radius5 ml10 mt10 mb20 fl">
                            <span class="left pl10 lh40">工作提醒</span>
                            <span class="right lh40 pr10"><em>15</em>项</span>
                        </li>
                        <li class="h-wdgzulone radius5 ml10 mt10 mb20 fl">
                            <span class="left pl10 lh40">工作提醒</span>
                            <span class="right lh40 pr10"><em>15</em>项</span>
                        </li>
                    </ul>
                </div>
                <!--main-zhongjian-->
                <div class="pb20 mt20 h-wdgzul">
                    <h3 class="c-xmxqlh pl35 fs16 c3">最新记录</h3>
                    <div class="c-csrbdc mt20 ml10 mr10">
                        <p class="c-csrbdcpa pl30 fs16 c3 clearfix">
                            <span class="left">筛选</span>
                            <a class="right maincolor mr30 c-spgltcl" href="javascript:void (0)">收起</a>
                        </p>
                        <div class="c-spgltclshow">
                            <p class="fs14 c6 pl30 clearfix">
                                <span class="left c-spgltsp">类型：</span>
                                <span class="left mr45 relative">
                           <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>全部
                        </span>
                                <span class="left mr45 relative">
                            <input class=" c-csrbdcinp c-htcbox relative" type="checkbox" name="area" value=""><i class="c-htcboxin c-iconfont"></i>跟进信息
                        </span>
                                <span class="left mr45 relative">
                            <input class=" c-csrbdcinp c-htcbox relative" type="checkbox" name="area" value=""><i class="c-htcboxin c-iconfont"></i>物业信息
                        </span>
                            </p>
                            <p class="c-wygltp fs14 c6 pl30 clearfix">
                                <span class="left c-spgltsp">查看范围：</span>
                                <span>自己；王宝鸿；钟会明</span>
                                <span><a href="javascript:void(0)" class="h-wdgza ml100" onclick="hopruletab('myworkone')">设置</a></span>
                            </p>
                            <p class=" c6 pl30 pt5 pb5 clearfix">
                                <span class="left c-spgltsp">时间：</span>
                                <span class="left relative mt6 c-spgltspb pointer"><i class="c-iconfont c-spgltspi"></i></span>
                                <span class="left ml15 mr15">至</span>
                                <span class="left relative mr30 mt6 c-spgltspb pointer"><i class="c-iconfont c-spgltspi"></i></span>
                                <a class="left mr15 mt6 c-spgltaa tc" href="javascript:void (0)">近7天</a>
                                <a class="left mt6 c-spgltaa tc" href="javascript:void (0)">近1个月</a>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix mt10">
                        <a class="left mt3 ml30 h-spgltab radius5 tc cf" href="javascript:void (0)">导出跟进信息查询</a>
                        <a class="left mt3 ml30 h-spgltab radius5 tc cf" href="javascript:void (0)">导出物业信息</a>
                    </div>
                    <!--main-bottom-->
                    <div class="h-wdgzul ml10 mr10 mt20 pb20">
                        <div class="clearfix bgf ">
                            <div class="c-xmxqlb pl35 pr35 clearfix">
                                <div class="mt20 left">
                                    <img class="c-xmxqlbimg" src="image/图层9.png" width="60" alt="用户头像">
                                </div>
                                <div class="mt30 ml10 left">
                                    <p class="mb15">
                                        <span>用户名 - 项目（天安云谷产业园一期）</span>
                                        <a class="ml20 maincolor ahover" href="">删除</a>
                                    </p>
                                    <p class="fs12 c9 mb10">2013/8/27 14:38 来自 W-CRM PC端</p>
                                    <p class=" fs12 c3 mb10">客户在初测后临时调整了整修规格，要求增加赔偿额度</p>
                                    <p class=" fs12 c3 mb10">测绘——评估</p>
                                    <p class=" fs12 c3 mb10">描述：初测后临时调整了装修规格，要求增加赔偿额度</p>
                                    <a class=" maincolor ahover" href="javascript:void (0)" onclick="hopruletab('myworkthree')">添加解决方法</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-wdgzul ml10 mr10 mt20 pb20">
                        <div class="clearfix bgf ">
                            <p class="mt10">
                                <span class="ml50">物业名称：风门坳1期32栋</span>
                                <span class="ml100">地址：风门坳1期北区***街32栋</span>
                            </p>
                            <p class="mt5 ">
                                <span class="ml50">业权人：2人（业权人变更）</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                            </p>
                        </div>
                    </div>
                    <div class="h-wdgzul ml10 mr10 mt20 pb20">
                        <div class="clearfix bgf ">
                            <p class="mt10">
                                <span class="ml50">物业名称：风门坳1期32栋</span>
                                <span class="ml100">地址：风门坳1期北区***街32栋</span>
                            </p>
                            <p class="mt5 ">
                                <span class="ml50">业权人：2人（业权人变更）</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                            </p>
                        </div>
                    </div>
                    <div class="h-wdgzul ml10 mr10 mt20 pb20">
                        <div class="clearfix bgf ">
                            <p class="mt10">
                                <span class="ml50">物业名称：风门坳1期32栋</span>
                                <span class="ml100">地址：风门坳1期北区***街32栋</span>
                            </p>
                            <p class="mt5 ">
                                <span class="ml50">业权人：2人（业权人变更）</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                            </p>
                        </div>
                    </div>
                    <div class="h-wdgzul ml10 mr10 mt20 pb20">
                        <div class="clearfix bgf ">
                            <p class="mt10">
                                <span class="ml50">物业名称：风门坳1期32栋</span>
                                <span class="ml100">地址：风门坳1期北区***街32栋</span>
                            </p>
                            <p class="mt5 ">
                                <span class="ml50">业权人：2人（业权人变更）</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                                <span class="ml50">还建面积:1200m²</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-xmxqr left clearfix">
                <div class="c-xmxqrb mb15 bgf">
                    <h3 class="c-xmxqlh pl20 fs16 c3 pr30 clearfix">
                        <span class="left">关键业务指标</span>
                        <a class="fs14 c6 right maincolor ahover" href="javascript:void (0)" onclick="hopruletab('myworktwo')">目标设置</a>
                    </h3>
                    <div class="pl20 pr30 pb35 h-gztx pt5">
                        <p class="lh36 borderbottom clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                        <p class="lh36 borderbottom clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                        <p class="lh36 borderbottom clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                        <p class="lh36 borderbottom clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                        <p class="lh36 borderbottom clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                        <p class="lh36 clearfix">
                            <span class="fl">本月测绘</span>
                            <span class="fr">38栋</span>
                        </p>
                    </div>
                </div>
                <div class="c-xmxqrb mb15 bgf">
                    <h3 class="c-xmxqlh pl20 fs16 c3 pr30 clearfix">
                        <span class="left">销售目标完成情况</span>
                    </h3>
                    <div class="h-gztx">
                        <img src="images/h-zhuzhuangtu.png" class="mt20 ml10" alt="">
                        <div class="ml100">
                            <p>
                                <i class="h-qymbdcone fl  mr10"></i>签约目标达成
                            </p>
                            <p class="mt20 mb100 ">
                                <i class="h-qymbdctwo fl mr10"></i>签约目标未达成
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--查看用户范围-->
    <div class="dialog myworkone">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w754 radius    hop-cont">
            <div class="back-white">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">查看用户范围</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                </h3>
                <span class="clearfix mt20 pb20 disblock">
                <em class="fl pl20 pr20">公司：</em>
                <span class="fl h-wdgzckyhfw radius5 mr20 disblock">
                     <input type="text" placeholder="--全部公司--" class="c9 ml20" >
                </span>
                <span class="fl h-wdgzckyhfw radius5 pr20 disblock">
                     <input type="text" placeholder="请输入公司名称..." class="c9 ml20" >
                </span>
                <a class="c-csrbdba c-wyrbda c-wyrbdcur fs14 cf ml20 mt5 left" href="">关注</a>
            </span>
                <div class="l-managetable ml20 mr20 c-bordere6">
                    <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>
                            <span class="h-xtszse relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>姓名</span>
                            </th>
                            <th>职位</th>
                            <th>公司</th>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                        <tr>
                            <td>
                            <span class="h-xtszse  relative">
                                   <input class=" c-csrbdcinp c-htcbox relative c-allcheacked" type="checkbox"  name="area" value=""><i class="c-htcboxin c-iconfont"></i>
                                 </span>
                                <span>叶海</span>
                            </td>
                            <td>销售顾问</td>
                            <td>深圳天安骏业投资发展有限公司</td>
                        </tr>
                    </table>
                </div>
                <span class="hop-bntap disblock pt30 ml20 mr20 pb30">
                <a href="javascript:void(0)" class="hop-save disinblock w133 hoptap radius dialog-close">保存</a>
                <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
            </span>
            </div>
        </div>
    </div>

    <!--设置人员签约目标-->
    <div class="dialog myworktwo">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w754 radius hop-cont">
            <div class="back-white">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">设置人员签约目标</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                </h3>
                <div class="c-csrbdinp mt10 mb10 ml20">
                    <i class="c-iconfont mt8 ml10 left" ></i>
                    <input class="ml10 left" type="text" placeholder="请输入产品名称">
                </div>
                <div class="l-managetable ml20 mr20 c-bordere6">
                    <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>组织机构</th>
                            <th>姓名</th>
                            <th>1月</th>
                            <th>2月</th>
                            <th>3月</th>
                            <th>4月</th>
                            <th>5月</th>
                            <th>6月</th>
                            <th>7月</th>
                            <th>8月</th>
                            <th>9月</th>
                            <th>10月</th>
                            <th>11月</th>
                            <th>11月</th>
                            <th>12月</th>
                        </tr>
                        <tr ng-repeat="item in tabledata">
                            <td ng-bind="item.organizationName"></td>
                            <td ng-bind="item.userName"></td>
                            <td ><input type="text" value="" ng-bind="item.january?item.january:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.february?item.february:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.march?item.march:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.april?item.april:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.may?item.may:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.june?item.june:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.july?item.july:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.august?item.august:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.september?item.september:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.october?item.october:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.november?item.november:'-'"> </td>
                            <td ><input type="text" value="" ng-bind="item.december?item.december:'-'"> </td>
                        </tr>

                    </table>
                </div>
                <span class="hop-bntap disblock pt30 ml20 mr20 pb30">
                <a href="javascript:void(0)" class="hop-save disinblock w133 hoptap radius dialog-close">发布</a>
                <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
            </span>
            </div>
        </div>
    </div>

    <!--添加解决办法-->
    <div class="dialog myworkthree">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w754 radius    hop-cont">
            <div class="back-white">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">添加解决办法</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                </h3>
                <div class="h-wdgzul ml10 mr10 mt20 pb20">
                    <div class="clearfix bgf ">
                        <div class="c-xmxqlb pl35 pr35 clearfix">
                            <div class="mt20 left">
                                <img class="c-xmxqlbimg" src="images/图层9.png" width="60" alt="用户头像">
                            </div>
                            <div class="mt30 ml10 left">
                                <p class="mb15">
                                    <span>用户名 - 项目（天安云谷产业园一期）</span>
                                    <a class="ml20 maincolor ahover" href="">删除</a>
                                </p>
                                <p class="fs12 c9 mb10">2013/8/27 14:38 来自 W-CRM PC端</p>
                                <p class=" fs12 c3 mb10">客户在初测后临时调整了整修规格，要求增加赔偿额度</p>
                                <p class=" fs12 c3 mb10">测绘——评估</p>
                                <p class=" fs12 c3 mb10">描述：初测后临时调整了装修规格，要求增加赔偿额度</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-wdgzul ml10 mr10 mt20 pb10">
                    <p class="mt10">
                        <span class="pl20">解决方法：</span>
                        <input type="text" placeholder="请输入内容...." class="pl20">
                    </p>
                </div>
                <span class="hop-bntap disblock pt30 ml20 mr20 pb30">
                <a href="javascript:void(0)" class="hop-save disinblock w133 hoptap radius dialog-close">保存</a>
                <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
            </span>
            </div>
        </div>
    </div>

    <!--添加跟进信息-->
    <div class="dialog myworkfour">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w754 radius    hop-cont">
            <div class="back-white">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">添加跟进信息</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                </h3>
                <div class="c-csrbdb mt10 clearfix">
                    <a class="c-csrbdba c-htbdbb ml20 fs14 cf left" href="">物业</a>
                    <a class="c-csrbdba c-htbdbb  fs14 cf left" href="">-请选择-</a>
                </div>
                <div class="c-xmxqlt c-wyxqlt pl20 pt10 pr35  bgf clearfixf">
                    <textarea class=" radius5"></textarea>
                    <p class="mt15 mb20">
                        <span class="fl mr20">跟踪信息-物业</span>
                        <i class="c-wyxqlta c-iconfont pointer mr15"></i>
                        <i class="c-wyxqltb c-iconfont pointer mr15"></i>
                        <i class="c-wyxqltc c-iconfont pointer mr15"></i>
                    </p>
                </div>
                <div class="h-wdgzul ml10 mr10 mt10 pb10">
                    <p class=" clearfix">
                        <span class="pl20 pt10 fl">解决方法：</span>
                        <span class="h-adfylispBh left">
                            <select class="h-adfylislhh mt5">
                                  <option value ="请选择所属区">请选择所属区</option>
                                  <option value ="第1区">第1区</option>
                                  <option value="第2区">第2区</option>
                                  <option value="第3区">第3区</option>
                            </select>
                    </span>
                        <span class="h-adfylispBh left">
                            <select class="h-adfylislhh mt5">
                                  <option value ="请选择所属区">请选择所属区</option>
                                  <option value ="第1区">第1区</option>
                                  <option value="第2区">第2区</option>
                                  <option value="第3区">第3区</option>
                            </select>
                    </span>
                        <a href="" class="fr mr20 mt10 c2">查看解决方案</a>
                    </p>
                </div>
                <div class="h-wdgzul ml10 mr10 mt10 pb10">
                    <p class="mt10">
                        <span class="pl20">解决方法：</span>
                        <input type="text" placeholder="请输入内容...." class="pl20">
                    </p>
                </div>
                <div class="h-wdgzul ml10 mr10 mt10 pb10">
                    <p class="mt10">
                        <span class="pl20">解决方法：</span>
                        <input type="text" placeholder="请输入内容...." class="pl20">
                    </p>
                </div>
                <span class="hop-bntap disblock pt30 ml20 mr20 pb30">
                <a href="javascript:void(0)" class="hop-save disinblock w133 hoptap radius dialog-close">保存</a>
                <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
            </span>
            </div>
        </div>
    </div>
</div>


