
<app-head></app-head>
<app-left-column></app-left-column>

<!--佣金规则（新建项目）-->
<div class="l-rightsider pb55">
    <div class="pl15 pr18 pt15 pb15">
        <!--顶部关注-->
        <div class="c-csrtop bgf">
            <ul class="clearfix tc">
                <li class="c-csrtopli mt10 left"><a class="c-csrtoplicur" ui-sref="newFiles">项目建设情况</a></li>
                <li class="c-csrtopli mt10 left"><a  ui-sref="projectProcess"> 项目流程设置</a></li>
                <li class="c-csrtopli mt10 left"><a  ui-sref="compensationRules"> 拆迁补偿规则</a></li>
                <li class="c-csrtopli mt10 left"><a  ui-sref="commissionRules  maincolor"> 佣金发放规则</a></li>
                <li class="c-csrtopli mt10 left"><a  ui-sref="updatarecord"> 修改记录</a></li>
            </ul>
        </div>
        <!--下面主体-->

        <div class="mt15 ml15 mr15  back-white">
            <div class="clearfix border-bottom pl20 pr20">
                <h3 class="l-managetlt  fs18 left clearfix" style="width:100%">
                    <i class="mr5"></i>
                    <em>签约佣金规则</em>
                <a class="right fs16 maincolor" onclick="hopruletab('addqyyjRules')">添加规则</a>
                </h3>
            </p>
            <div class="l-managetable ">
                <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <th>总体项目进度</th>
                        <th>标准（元/m²）</th>
                        <th>
                            <span class="w-50 left">发放比例</span>
                            <span class="w-50 left">发放节点</span>

                        </th>
                        <th>
                            <span class="w-50 left">发放比例</span>
                            <span class="w-50 left">发放节点</span>
                        </th>


                        <th>操作</th>
                    </tr>
                    <tr  ng-repeat="item in rulesdata"  useid="{{item.id}}" projectid="{{item.projectId}}">
                        <td ng-bind="item.allProcess2"></td>
                        <td ng-bind="item.standard"></td>
                        <td ng-repeat="d in item.detailsList">

                            <span class="w-50 left" ng-bind="d.commsionPercent">
                            </span>
                            <span class="w-50 left"  ng-bind="d.ruleNodes">

                            </span>


                        </td>

                        <td class="l-tablelink">

                            <a href="javascript:void(0)" ng-click="rulelook(item,'rulelook')">编辑</a>
                            <a href="javascript:void(0)" ng-click="ruledel(item)">删除</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
            <div class="back-white c-bordere6 mt15 clearfix">
                <p class="ml40 mr40 pt15 pb25 clearfix">
                    <span class="left fs16 c3">查处违建佣金规则</span>
                    <a class="right fs16 maincolor addRules" onclick="hopruletab('addccwzRules')" >添加规则</a>
                </p>
                <div class="l-managetable ">
                    <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>发放节点</th>
                            <th>佣金</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in weijian"  useid="{{item.id}}" projectid="{{item.projectId}}">
                            <td ng-bind="item.issuingNode"></td>
                            <td ng-bind="item.commission"></td>
                            <td ng-bind="item.remarks"></td>
                            <td class="l-tablelink">
                                <a href="javascript:void(0)" ng-click="wjyjCheck(item)" onclick="hopruletab('checkCcwzRules')" >查看</a>
                                <a href="javascript:void(0)" ng-click="wjyjEdit(item,'editccwzRules')"  >编辑</a>
                                <a href="javascript:void(0)" ng-click="wjyjDel(item)">删除</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="back-white c-bordere6 mt15 clearfix">
                <p class="ml40 mr40 pt15 pb25 clearfix">
                    <span class="left fs16 c3">综合业务佣金规则</span>
                    <a class="right fs16 maincolor addRules" onclick="hopruletab('addzhywRules')">添加规则</a>
                </p>
                <div class="l-managetable ">
                    <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>项目名称</th>
                            <th>标准</th>
                            <th>佣金</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in yewu" ids="{{item.id}}" projectId="{{item.projectId}}">
                            <td ng-bind="item.integratedName"></td>
                            <td ng-bind="item.types"></td>
                            <td ng-bind="item.commission"></td>
                            <td ng-bind="item.remarks"></td>
                            <td class="l-tablelink">
                                <a href="javascript:void(0)" ng-click="serviceslook(item,'serviceslook')">查看</a>
                                <a href="javascript:void(0)" ng-click="serviceseditor(item,'serviceseditor')">编辑</a>
                                <a href="javascript:void(0)" ng-click="servicesdel(item)">删除</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
    </div>
        <!--添加综合业务佣金规则-->
        <div class="dialog  addzhywRules">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加综合业务佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">项目名称：</th>
                                <td colspan="5">
                                    <input type="text" ng-model="zhIntegratedName" ng-blur="inputips($event)"   class="c-yjgzinpa c-bordere6">
                                    <span class="red disnone t8">项目名称不能为空</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h3 class="c3 mt20 pl30">发放标准</h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50 relative" cellpadding="0" cellspacing="0">
                            <tr>
                                <th  class="pl30 maincolor">补偿类型：</th>
                                <td  colspan="5" class="c-zhywslect">
                                <span class="left relative clearfix">
                                    <input class=" c-csrbdcinp c-htcbox relative left " type="radio" ng-checked="true"  name="typea" ng-model="typeValue" ng-change="changeColor()" value="签约节点">
                                    <i  class="checkbox iconfont c-typebox   " ng-class="{'check':isflag1}"></i>
                                    <em class="mr75 left">签约节点</em>
                                </span>
                                    <span class="left ml45 relative clearfix">
                                    <input class=" c-csrbdcinp c-htcbox relative left " type="radio"   name="typea" ng-model="typeValue" ng-change="changeColor()" value="测绘数据">
                                    <i class="checkbox iconfont c-typebox  " ng-class="{'check':isflag2}"></i>
                                    <em class=" left">测绘数据</em>
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <th  class="pl30 maincolor">签约节点：</th>
                                <td colspan="5">
                                    <select   class="select hop-select w265 mr30" ng-options="t.id as t.name for t in stage" ng-model="ruletabsel" ng-change="checktab(ruletabsel)">
                                        <!--<option ng-repeat="x in stage" value="{{x.id}}" ng-bind="x.name" ></option>-->
                                        <option>请选择签约节点</option>
                                    </select>
                                    <select   class="select hop-select w265 mr30" ng-options="e.id as e.name for e in singe" ng-model="onesel" >
                                        <!--<option ng-repeat="x in stage" value="{{x.id}}" ng-bind="x.name" ></option>-->
                                        <option>请选择</option>
                                    </select>
                                </td>
                            </tr>
                            <tr >
                                <th   class="pl30 maincolor">测绘数据：</th>
                                <td colspan="5">
                                    <select   class="select hop-select w265 mr30" ng-options="a.id as a.name for a in surveyList" ng-model="twosel">
                                        <option>请选择测绘数据</option>
                                        <!--<option ng-repeat="z in surveyList" ng-bind="z.name" id="z.id" ></option>-->
                                    </select>
                                    <select  class="select hop-select w265" ng-options="a.id as a.compensateName for a in typeList" ng-model="threesel">
                                        <option>请选择</option>
                                    </select>
                                </td>
                                <div class="c-shadowboxa" ng-class="{'c-shadowboxaa':isflag2}"></div>
                            </tr>

                        </table>
                    </div>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%"  class="pl30 maincolor">佣金：</th>
                                <td colspan="5"><input type="text" ng-model="zhCommission" class="c-yjgzinpb c-bordere6 mr10"><em class="maincolor">平方米/元</em></td>
                            </tr>
                            <tr >
                                <th width="15%"  class="pl30 maincolor">备注：</th>
                                <td colspan="5"><input type="text" ng-model="zhRemarks"  placeholder="请输入" class="l-input w500"/></td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="saveZHYW()"  class="hop-save disinblock w133 hoptap radius ">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>

                    </div>
                </div>
            </div>
        </div>
        <!--查看综合业务佣金规则-->
        <div class="dialog  serviceslook">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加综合业务佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">项目名称：</th>
                                <td colspan="5">

                                    <input type="text" ng-model="services.integrated_name" placeholder="services.integrated_name" class="c-yjgzinpa c-bordere6" disabled="disabled"></td>
                            </tr>
                        </table>
                    </div>
                    <h3 class="c3 mt20 pl30">发放标准</h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50 relative" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">补偿类型：</th>
                                <td  colspan="5" class="c-zhywslect">
                                <span class="left relative clearfix">
                                    <input class=" c-csrbdcinp c-htcbox relative left " type="radio" disabled="disabled" ng-checked="true"  name="typea" ng-model="services.typeValue"  value="签约节点">
                                    <i  class="checkbox iconfont c-typebox   " ng-class="{'check':isflag1}"></i>
                                    <em class="mr75 left">签约节点</em>
                                </span>
                                    <span class="left ml45 relative clearfix">
                                    <input class=" c-csrbdcinp c-htcbox relative left " type="radio" disabled="disabled"  name="typea" ng-model="services.typeValue"  value="测绘数据">
                                    <i class="checkbox iconfont c-typebox  " ng-class="{'check':isflag2}"></i>
                                    <em class=" left">测绘数据</em>
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <th  class="pl30 maincolor">{{isflag1==true?'签约节点':'测绘数据'}}：</th>
                                <td colspan="5">
                                   <input type="text" disabled="disabled"  ng-model="services.paymentStandardOne" class="c-yjgzinpb c-bordere6 mr10"><input disabled="disabled" type="text" class="c-yjgzinpb c-bordere6 " ng-model="services.paymentstandardTwo">
                                </td>
                            </tr>


                        </table>
                    </div>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%"  class="pl30 maincolor">佣金：</th>
                                <td colspan="5"><input type="text" disabled="disabled"  ng-model="services.commission" class="c-yjgzinpb c-bordere6 mr10"><em class="maincolor">平方米/元</em></td>
                            </tr>
                            <tr >
                                <th width="15%"  class="pl30 maincolor">备注：</th>
                                <td colspan="5"><input type="text"  disabled="disabled" ng-model="services.remarks"  placeholder="请输入" class="l-input w500"/></td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="saveZHYW()"  class="hop-save disinblock w133 hoptap radius dialog-close">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>

                    </div>
                </div>
            </div>
        </div>
        <!--编辑综合业务佣金规则-->
        <div class="dialog  serviceseditor">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">编辑综合业务佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">项目名称：</th>
                                <td colspan="5">

                                    <input type="text" ng-model="services.integratedName" placeholder="{{services.integratedName}}" class="c-yjgzinpa c-bordere6" ></td>
                            </tr>
                        </table>
                    </div>
                    <h3 class="c3 mt20 pl30">发放标准</h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50 relative" cellpadding="0" cellspacing="0">
                            <tr>
                                <th  class="pl30 maincolor">补偿类型：</th>
                                <td  colspan="5" class="c-zhywslect">
                                    <span class="left relative clearfix">
                                        <input class=" c-csrbdcinp c-htcbox relative left " type="radio"  ng-checked="true"  ng-change="changeColor()" name="typea" ng-model="services.typeValue"  value="签约节点">
                                        <i  class="checkbox iconfont c-typebox   " ng-class="{'check':isflag1}"></i>
                                        <em class="mr75 left">签约节点</em>
                                    </span>
                                    <span class="left ml45 relative clearfix">
                                        <input class=" c-csrbdcinp c-htcbox relative left " type="radio"   name="typea" ng-change="changeColor()" ng-model="services.typeValue"  value="测绘数据">
                                        <i class="checkbox iconfont c-typebox  " ng-class="{'check':isflag2}"></i>
                                        <em class=" left">测绘数据</em>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th  class="pl30 maincolor">签约节点：</th>
                                <td colspan="5">
                                    <select   class="select hop-select w265 mr30" ng-options="x.id as x.name for x in stage" ng-model="stagesel" >
                                        <!--<option ng-repeat="x in stage" value="{{x.id}}" ng-bind="x.name" ></option>-->

                                    </select>
                                    <select  class="select hop-select w265" ng-options="y.id as y.name for y in sublevelStage" ng-model="sublevesel">

                                        <!--<option ng-repeat="y in sublevelStage"  ng-bind="y.name" id="y.id"></option>-->
                                    </select>
                                </td>
                            </tr>
                            <tr >
                                <th   class="pl30 maincolor">测绘数据：</th>
                                <td colspan="5">
                                    <select   class="select hop-select w265 mr30" ng-options="z.id as z.name for z in surveyList" ng-model="surveyesel">

                                        <!--<option ng-repeat="z in surveyList" ng-bind="z.name" id="z.id" ></option>-->
                                    </select>
                                    <select  class="select hop-select w265" ng-options="w.id as w.compensateName for w in typeList" ng-model="compensel">

                                    </select>
                                </td>
                                <div class="c-shadowboxa" ng-class="{'c-shadowboxaa':isflag2}"></div>
                            </tr>

                        </table>
                    </div>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%"  class="pl30 maincolor">佣金：</th>
                                <td colspan="5"><input type="text"  placeholder="{{services.commission}}" ng-model="services.commission" class="c-yjgzinpb c-bordere6 mr10"><em class="maincolor">平方米/元</em></td>
                            </tr>
                            <tr >
                                <th width="15%"  class="pl30 maincolor">备注：</th>
                                <td colspan="5"><input type="text"   placeholder="{{services.remarks}}" ng-model="services.remarks"  placeholder="请输入" class="l-input w500"/></td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="saveservices()"  class="hop-save disinblock w133 hoptap radius dialog-close">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>

                    </div>
                </div>
            </div>
        </div>

        <!--添加签约佣金规则-->
        <div class="dialog addqyyjRules">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加签约佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">总体项目进度：</th>
                                <td >
                                    <input type="number" ng-model="process" ng-blur="inputips($event)" class="c-yjgzinpc c-bordere6 mr5 " >%
                                    <em class="ml10 mr10">——</em>
                                    <input type="number" ng-model="process2" class="c-yjgzinpc c-bordere6 mr5" ng-blur="inputips($event)">%
                                    <span class="red disnone t1">总体项目进度不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">标准：</th>
                                <td >
                                    <input type="number" ng-model="standard" class="c-yjgzinpc c-bordere6 mr5" ng-blur="inputips($event)">元/m²
                                    <span class="red disnone t2">总体项目标准不能为空</span>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" class="back-f5 hop-table lh50 pushffjd leaddtr" cellpadding="0" cellspacing="0">
                            <tr>
                                <th></th>
                                <td><a href="javascript:void(0)" class="radius5 c-yjffjda cf ml10" ng-click="addffjd('leaddtr')">添加发放节点</a>
                                    <a href="javascript:void(0)" class="radius5 c-yjffjda cf ml10" ng-click="delffjd('leaddtr')">删除发放节点</a>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <input type="number"  value=""  class="c-yjgzinpc c-bordere6 mt10 left ffNodes" ng-blur="inputips($event)">
                                    <span class="ml50 mr10 maincolor left">发放比例：</span>
                                    <input type="number"  class="c-yjgzinpc c-bordere6 mr5 mt10 left ffPercent" ng-blur="inputips($event)">%
                                    <span class="red disnone ">发放比例不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <input type="number"  value="" class="c-yjgzinpc c-bordere6 mt10 left ffNodes" ng-blur="inputips($event)">
                                    <span class="ml50 mr10 maincolor left">发放比例：</span>
                                    <input type="number"   class="c-yjgzinpc c-bordere6 mr5 mt10 left ffPercent" ng-blur="inputips($event)">
                                    <span class="left">%</span>
                                    <span class="red disnone">发放比例不能为空</span>
                                </td>
                            </tr>

                        </table>
                        <!--<table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">-->
                            <!--<tr>-->
                                <!--<th width="15%" class="pl30 maincolor">备注：</th>-->
                                <!--<td><input type="text"  placeholder="请输入" class="l-input w500"/></td>-->
                            <!--</tr>-->

                        <!--</table>-->
                        <span class="hop-bntap disblock pt30  pb55">
							<a href="javascript:void(0)" ng-click="saveYJGZ('leaddtr')" class="hop-save disinblock w133 hoptap radius ">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>
                    </div>
                </div>
            </div>
        </div>
        <!--rulelook编辑签约佣金规则-->
        <div class="dialog rulelook">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">编辑签约佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">总体项目进度：</th>
                                <td >
                                    <input type="text" ng-blur="inputips($event)"  ng-model="ruleditor.allProcess" class="c-yjgzinpc c-bordere6 mr5">%
                                    <em class="ml10 mr10">——</em>
                                    <input type="text" ng-blur="inputips($event)"  ng-model="ruleditor.allProcess2" class="c-yjgzinpc c-bordere6 mr5">%
                                    <span class="red disnone t3">总体项目进度不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">标准：</th>
                                <td >
                                    <input type="text" ng-blur="inputips($event)" ng-model="ruleditor.standard" class="c-yjgzinpc c-bordere6 mr5">元/m²
                                    <span class="red disnone t4">发放标准不能为空</span>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" class="back-f5 hop-table lh50 pushffjd tableaddtr" cellpadding="0" cellspacing="0">
                            <tr>
                                <th></th>
                                <td><a href="javascript:void(0)" class="radius5 c-yjffjda cf ml10" ng-click="addffjd('tableaddtr')">添加发放节点</a>
                                    <a href="javascript:void(0)" class="radius5 c-yjffjda cf ml10" ng-click="delffjd('tableaddtr')">删除发放节点</a>
                                </td>
                            </tr>
                            <tr ng-repeat="d in ruleditor.detailsList">
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <input type="text"  ng-model="d.ruleNodes"  value="" class="c-yjgzinpc c-bordere6 mt10 left ffNodes">
                                    <span class="ml50 mr10 maincolor left">发放比例：</span>
                                    <input type="text"  ng-model="d.commsionPercent" class="c-yjgzinpc c-bordere6 mr5 mt10 left ffPercent">%

                                </td>
                            </tr>

                        </table>
                        <!--<table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">-->
                            <!--<tr>-->
                                <!--<th width="15%" class="pl30 maincolor">备注：</th>-->
                                <!--<td><input type="text" placeholder="ruleditor.remarks" ng-model="ruleditor.remarks"  placeholder="请输入" class="l-input w500"/></td>-->
                            <!--</tr>-->

                        <!--</table>-->
                        <span class="hop-bntap disblock pt30  pb55">
							<a href="javascript:void(0)" ng-click="saveeditorule()" class="hop-save disinblock w133 hoptap radius ">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>
                    </div>
                </div>
            </div>
        </div>

        <!--添加查处违建佣金规则-->
        <div class="dialog addccwzRules">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加查处违建佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">

                            <tr>
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <input type="text" ng-blur="inputips($event)" ng-model="wzIssuingNode" class="c-yjgzinpc c-bordere6 mr5">
                                    <span class="red disnone t5">发放节点不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">佣金：</th>
                                <td >
                                    <input type="text" ng-blur="inputips($event)" ng-model="wzCommission" class="c-yjgzinpc c-bordere6 mr5">元
                                    <span class="red disnone t6">佣金不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">备注：</th>
                                <td><input type="text" ng-blur="inputips($event)" ng-model="wzRemarks"  placeholder="请输入" class="l-input w500"/>
                                    <span class="red disnone t7">备注不能为空</span>
                                </td>
                            </tr>

                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="saveCCWZ()" class="hop-save disinblock w133 hoptap radius ">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>
                    </div>
                </div>
            </div>
        </div>
        <!--查看 查处违建佣金规则-->
        <div class="dialog checkCcwzRules">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">查看查处违建佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0" >
                            <tr>
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <span ng-bind="checkwjyj.issuingNode"></span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">佣金：</th>
                                <td >
                                    <span ng-bind="checkwjyj.commission"></span>元
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">备注：</th>
                                <td><span ng-bind="checkwjyj.remarks"></span></td>
                            </tr>

                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="wjyjEdit(checkwjyj)" class="hop-save disinblock w133 hoptap radius dialog-close">编辑</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">关闭</a>
						</span>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑查处违建佣金规则-->
        <div class="dialog editccwzRules">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w1080 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">编辑查处违建佣金规则</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15"></a>
                    </h3>
                    <div class="pt20 pl30 pr30">
                        <table width="100%" class="back-f5 hop-table lh50" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%" class="pl30 maincolor">发放节点：</th>
                                <td >
                                    <input type="text" placeholder="{{checkwjyj.issuingNode}}" ng-blur="inputips($event)"  ng-model="checkwjyj.issuingNode" class="c-yjgzinpc c-bordere6 mr5">
                                    <span class="red disnone t5">发放节点不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">佣金：</th>
                                <td >
                                    <input type="text" placeholder="{{checkwjyj.commission}}" ng-blur="inputips($event)" ng-model="checkwjyj.commission" class="c-yjgzinpc c-bordere6 mr5">元
                                    <span class="red disnone ">佣金不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="pl30 maincolor">备注：</th>
                                <td><input type="text" placeholder="{{checkwjyj.remarks}}"  ng-blur="inputips($event)" ng-model="checkwjyj.remarks" class="l-input w500"/> <span class="red disnone ">备注不能为空</span></td>
                            </tr>

                        </table>
                        <span class="hop-bntap disblock pt30 pb55">
							<a href="javascript:void(0)" ng-click="saveeditor()" class="hop-save disinblock w133 hoptap radius ">保存</a>
							<a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close">取消</a>
						</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<app-foot></app-foot>