<div>
    <!--顶部关注-->
    <div class="  back-white pl30 pr30 pb30 clearfix">
        <div class="c-csrbdt pt25 col-md-7 col-lg-7 col-sm-7 ">
            <a class="c-csrbdta fs18 c6 mr35 pl5">风门坳旧改项目</a>
            <p class="ml10 mt15">风门坳村莲花路2号  |  当前进度：第三方测绘</p>
            <div class="mt18 j-BtnDiv clearfix">
                <a href="javascript:;" title="已关注" class="j-blur-c w136 h40 bge3f5ff mr15 tc left brrad6 dis-inlBlo">
                    <span class="j-prite j-child-a j-eyse mr2"></span>
                    <span class="lh40">已关注</span>
                </a>
                <a href="javascript:;" class="c-cqtbtna radius5 tc mr35 left"> </a>
                <a href="javascript:;" class="c-cqtbtnb radius5 tc cf c-iconfont left">删除项目</a>
            </div>
        </div>
        <ul class="col-md-5 col-lg-5 col-sm-5 mt30 mb30 pl40">
            <li class="lh30">创建人：用户名</li>
            <li class="lh30">创建时间：2014/08/02  14:20</li>
            <li class="lh30">最后更新时间：2014/08/08  10:47</li>
        </ul>

    </div>
    <!--7个格子-->
    <table class="table table-bordered bg3 mt15">
        <tbody class="tc c0">
        <tr class="h40  tc lh40 bgf c6" align="justify">
            <td class=""><a href="javascript:;" ui-sref="itemDetails"  title="总览" class="j-blur-a j-blur-as ">&nbsp;&nbsp;&nbsp;总览&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td class=""><a ui-sref="itemInformation" title="基本信息"
                            class="j-blur-a j-blur-as ">基本信息</a></td>
            <td class=""><a  ui-sref="projectProcessInformation" href="javascript:;" title="流程进度信息" class="j-blur-a j-blur-as">流程进度信息</a></td>
            <td class=""><a ui-sref="propertyInformation" title="物业信息" class="j-blur-a j-blur-as maincolor">物业信息</a></td>
            <td class=""><a ui-sref="projectcompensationRules" title="拆迁补偿规则" class="j-blur-a j-blur-as ">拆迁补偿规则</a>
            </td>
            <td class=""><a ui-sref="projectcommissionrelease" title="佣金发放规则" class="j-blur-a j-blur-as ">佣金发放规则</a></td>
            <td class=""><a ui-sref="annex" title="附件" class="j-blur-a j-blur-as">附件</a></td>
        </tr>
        </tbody>
    </table>
</div>