<app-head></app-head>

<app-left-Column class="disnone"></app-left-Column>

<div class="pb55 pt65">
    <!--项目信息-->
    <div class="pl15 pr18 pt15 pb15">
        <!--顶部关注-->
        <div class="  back-white pl30 pr30 pb30 clearfix">
            <div class="c-csrbdt pt25 col-md-7 col-lg-7 col-sm-7 ">
                <top-information listtop="{{listtop}}"></top-information>
                <div class="mt18 j-BtnDiv clearfix">
                    <attention list="{{list}}"></attention>
                    <delete-project list="{{list}}"></delete-project>
                </div>
            </div>
            <right-information listtop="{{listtop}}"></right-information>
        </div>
        <!--7个格子-->
        <table class="table table-bordered bg3 mt15">
            <tbody class="tc c0">
            <tr class="h40  tc lh40 bgf c6" align="justify">
                <td class=""><a href="#/itemDetails?projectid={{projectId}}"  title="总览" class="j-blur-a j-blur-as maincolor">&nbsp;&nbsp;&nbsp;总览&nbsp;&nbsp;&nbsp;</a>
                </td>
                <td class=""><a href="#/itemInformation?projectid={{projectId}}" title="基本信息"
                                class="j-blur-a j-blur-as ">基本信息</a></td>
                <td class=""><a href="#/projectProcessInformation?projectid={{projectId}}" title="流程进度信息" class="j-blur-a j-blur-as" style="color: #337ab7;">流程进度信息</a></td>
                <td class=""><a href="#/propertyInformation?projectid={{projectId}}" title="物业信息" class="j-blur-a j-blur-as">物业信息</a></td>
                <td class=""><a href="#/projectcompensationRules?projectid={{projectId}}" title="拆迁补偿规则" class="j-blur-a j-blur-as ">拆迁补偿规则</a>
                </td>
                <td class=""><a href="#/financialsettlement?projectid={{projectId}}" title="财务结算项目设置" class="j-blur-a j-blur-as ">财务结算项目设置</a>
                </td>
                <td class=""><a href="#/projectcommissionrelease?projectid={{projectId}}" title="佣金发放规则" class="j-blur-a j-blur-as ">佣金发放规则</a></td>
                <td class=""><a href="#/annex?projectid={{projectId}}"  title="附件" class="j-blur-a j-blur-as">附件</a></td>
                <td class=""><a href="#/projectupdaterecord?projectid={{projectId}}"  title="修改记录" class="j-blur-a j-blur-as">修改记录</a></td>
            </tr>
            </tbody>
        </table>
        <!--下面主体-->
        <div class="mt30 mb20 pl50 pr30 pb30 back-white clearfix">
            <div class="c-xmboxa mt15 pb10 clearfix">
                <h6 class="fs18 c3  fl mt5">流程进度信息</h6>
                <div class="right c-xmboxabtn">
                    <a class="c-xmboxabtnb cf disinblock tc radius5 ml15  c-iconfont" ng-click="addfirst('addnew')">新增</a>
                </div>
            </div>
            <div class="l-managetable mt20">
                <div class="l-managetable c-bordere6">
                    <table class="l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="zjm-w10">
                            <th>一级阶段</th>
                            <th>二级阶段</th>
                            <th>三级阶段</th>
                            <th style="width:5%">是否完成</th>
                            <th>预计完成时间</th>
                            <th style="width:5%">负责人</th>
                            <th>完成时间</th>
                            <th>备注</th>
                            <th style="width:10%">附件</th>
                            <th style="width:20%">操作</th>
                        </tr>
                        <tr ng-repeat="l in list">
                            <td colspan="10">
                                <table style="width: 100%;">
                                    <!--一层-->
                                    <tr class="zjm-w10">
                                        <td>{{l.processName}}</td>
                                        <td></td>
                                        <td></td>
                                        <td style="width:5%">{{l.accomplish==1?'是':'否'}}</td>
                                        <td>{{l.planTime?(l.planTime|date:'yyyy-MM-dd'):'/'}}</td>
                                        <td style="width:5%">

                                            <span ng-repeat="d in l.detailList" ng-if="d.keyAssignments==1">
                                              {{d.userName||'/'}}
                                             </span>

                                        </td>
                                        <td>
                                            <span ng-repeat="d in l.detailList" ng-if="d.keyAssignments==2">
                                              {{d.val||'/'}}
                                             </span>

                                        </td>
                                        <td>
                                            <span ng-repeat="d in l.detailList" ng-if="d.keyAssignments==3">
                                              {{d.val||'/'}}
                                             </span>

                                        </td>
                                        <td style="width:10%">
                                            <span class="relative mr10">
                                                <span class="annexFile">添加附件</span>
                                            <input ng-file-select="addannex(l.id,$files)" type="file" name="annex" class="z-opacity absolute z-annex annexFile"/>
</span>
                                                <a ng-click="watchFile('watchannex',l.id)" class="annexFile">
                                                    下载
                                                </a>


                                        </td>
                                        <td class="l-tablelink" style="width:20%">
                                            <span href="javascript:void(0)" ng-show="l.type==2&&l.accomplish==1">已完成</span>
                                            <a href="javascript:void(0)" ng-show="l.type==2&&l.accomplish==0" ng-click="addinfo(l.id,'addinfo',l.detailList,$index)">添加信息</a>
                                            <a href="javascript:void(0)" ng-click="delete(l.id)">删除</a>
                                            <a href="javascript:void(0)" ng-click="addsecond(l.id,'addnewson')">添加子级</a>
                                            <a href="javascript:void(0)" ng-click="watchPrepose(l.id,'watchson')">查看前置</a>
                                        </td>
                                    </tr>
                                    <!--二层-->
                                    <tr ng-show="t.processName" ng-repeat="t in l.twoStage">
                                        <td colspan="10">
                                            <table style="width:100%">
                                                <tr class="zjm-w10">
                                                    <td></td>
                                                    <td>
                                                        {{t.processName}}
                                                    </td>
                                                    <td></td>
                                                    <td style="width:5%">{{t.accomplish==1?'是':'否'}}</td>
                                                    <td>{{l.planTime?(t.planTime|date:'yyyy-MM-dd'):'/'}}</td>
                                                    <td style="width:5%">
                                                        <span ng-repeat="d in t.detailList" ng-if="d.keyAssignments==1">
                                                          {{d.userName||'/'}}
                                                         </span>

                                                    </td>
                                                    <td>
                                                        <span ng-repeat="d in t.detailList" ng-if="d.keyAssignments==2">
                                                          {{d.val||'/'}}
                                                         </span>

                                                    </td>
                                                    <td>
                                                        <span ng-repeat="d in t.detailList" ng-if="d.keyAssignments==3">
                                                          {{d.val||'/'}}
                                                         </span>

                                                    </td>
                                                    <td style="width:10%">
                                                        <span class="relative mr10">
                                                        <span class="annexFile">添加附件</span>
                                                        <input ng-file-select="addannex(t.id,$files)" type="file" name="annex" class="z-opacity absolute z-annex annexFile"/>
</span>
                                                        <a ng-click="watchFile('watchannex',t.id)" class="annexFile">
                                                            下载
                                                        </a>
                                                    </td>
                                                    <td class="l-tablelink" style="width:20%">
                                                        <span href="javascript:void(0)" ng-show="t.type==2&&t.accomplish==1">已完成</span>
                                                        <a href="javascript:void(0)" ng-show="t.type==2&&t.accomplish==0" ng-click="addinfo(t.id,'addinfo',t.detailList)">添加信息</a>
                                                        <a href="javascript:void(0)" ng-click="delete(t.id)">删除</a>
                                                        <a href="javascript:void(0)" ng-click="addsecond(t.id,'addnewson')">添加子级</a>
                                                        <a href="javascript:void(0)" ng-click="watchPrepose(t.id,'watchson')">查看前置</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="10"  width="100%">
                                                        <table width="100%">
                                                            <!-- &lt;!&ndash;&lt;!&ndash;三层&ndash;&gt;&ndash;&gt;-->
                                                            <tr ng-show="r.processName" ng-repeat="r in t.threeLevel" class="zjm-w10">
                                                                <td></td>
                                                                <td></td>
                                                                <td>{{r.processName}}</td>
                                                                <td style="width:5%">{{r.accomplish==1?'是':'否'}}</td>
                                                                <!--<td style="width:5%">{{r.type==1?'前置':'非前置'}}</td>-->                                                    <td>{{r.planTime?(r.planTime|date:'yyyy-MM-dd'):'/'}}</td>
                                                                <td style="width:5%">
                                                                <span ng-repeat="d in r.detailList" ng-if="d.keyAssignments==1">
                                                                  {{d.userName||'/'}}
                                                                 </span>

                                                                </td>
                                                                <td>
                                                                    <span ng-repeat="d in r.detailList" ng-if="d.keyAssignments==2">
                                                                      {{d.val||'/'}}
                                                                     </span>

                                                                </td>
                                                                <td>
                                                                    <span ng-repeat="d in r.detailList" ng-if="d.keyAssignments==3">
                                                                      {{d.val||'/'}}
                                                                     </span>

                                                                </td>
                                                                <td style="width:10%">
                                                                    <span class="relative mr10">
                                                                    <span class="annexFile">添加附件</span>
                                                                    <input ng-file-select="addannex(r.id,$files)" type="file" name="annex" class="z-opacity absolute z-annex annexFile"/>
</span>
                                                                    <a ng-click="watchFile('watchannex',r.id)" class="annexFile">
                                                                        下载
                                                                    </a>
                                                                </td>
                                                                <td class="l-tablelink" style="width:20%">
                                                                    <span href="javascript:void(0)" ng-show="r.type==2&&r.accomplish==1">已完成</span>
                                                                    <!--<a href="javascript:void(0)" ng-show="r.type==2&&r.accomplish==1" ng-click="watchinfo(r.id,'addnewson')">查看</a>-->
                                                                    <a href="javascript:void(0)" ng-show="r.type==2&&r.accomplish==0" ng-click="addinfo(r.id,'addinfo',r.detailList)">添加信息</a>
                                                                    <a href="javascript:void(0)" ng-click="delete(r.id)">删除</a>
                                                                    <a href="javascript:void(0)" ng-click="watchPrepose(r.id,'watchson')">查看前置</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--新增-->
        <div class="dialog addnew">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w875 radius    hop-cont">
                <div class="back-white process-height">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加流程</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                    </h3>

                    <div class="pt20 pl30 pr30">
                        <table width="100%" class=" hop-table lh50  hop-ruletale" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="16%" class="pl30 c3" valign="top">流程名称: </td>
                                <td >
                                    <input  type="text"  placeholder="请输入......" ng-model="processName" name="processName"  class="l-projectinput" required/>
                                    <!--validator="projectName"-->
                                </td>
                            </tr>
                            <tr>
                                <td  class="pl30 c3" valign="top">功能: </td>
                                <td >

                            <span class="l-tabcheckbox" ng-repeat="color in colors">
                                <input type="checkbox"  ng-model="color.status"/>
                                <em>{{color.name}} </em>
                            </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="16%" class="pl30 c3" valign="top">预计完成时间: </td>
                                <td class="clearfix relative">
                                    <input type="text" name="time"  class="test5 l-projectinput relative mt6 pointer" ng-model="planTime" ng-blur="timecancel(completeTime)">
                                    <i class="test6 c-iconfont c-spgltspi time-t48" ng-click="mychange('test5','test6',2)"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0" class="addtable" name>
                                        <tr ng-repeat="p in processNameList">
                                            <td width="16%" class="pl30 c3" valign="top">前置条件{{$index+1}}: </td>
                                            <td >
                                                <input  type="text" placeholder="请输入......" ng-model="p.processName" name="processitem1" class="l-projectinput"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            <tr ng-show="flag2">
                                <td  class="pl30 c3" valign="top"> </td>
                                <td >
                                    <a href="javascript:void(0)" ng-click="addcondition()" class="l-addtab radius"><i  class="  l-addbnt iconfont" ></i><em class="ml10">添加前置条件</em></a>
                                </td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt10 pb10 tc">
                    <button type="button" ng-click="savebnt(planTime)" class="hop-save disinblock w133 hoptap radius saveDisabled">保存</button>
                    <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close" ng-click="cancel()">取消</a>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <!--列表一级新增-->
        <div class="dialog addnewson">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w875 radius    hop-cont">
                <div class="back-white process-height">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加流程</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                    </h3>

                    <div class="pt20 pl30 pr30">
                        <table width="100%" class=" hop-table lh50  hop-ruletale" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="16%" class="pl30 c3" valign="top">流程名称: </td>
                                <td >
                                    <input  type="text"  placeholder="请输入......" ng-model="processName2" name="processName2"  class="l-projectinput" required/>
                                    <!--validator="projectName"-->
                                </td>
                            </tr>
                            <tr>
                                <td width="16%" class="pl30 c3" valign="top">预计完成时间: </td>
                                <td class="clearfix relative">
                                    <input type="text" name="time"  class="test7 l-projectinput relative mt6 pointer" ng-model="planTime" ng-blur="timecancel(completeTime)">
                                    <i class="test8 c-iconfont c-spgltspi time-t48" ng-click="mychange('test7','test8',2,parentId)"></i>
                                </td>
                            </tr>
                            <tr>
                                <td  class="pl30 c3" valign="top">功能: </td>
                                <td >

                            <span class="l-tabcheckbox" ng-repeat="color in colors">
                                <input type="checkbox"  ng-model="color.status"/>
                                <em>{{color.name}} </em>
                            </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0" class="addtable" name>
                                        <tr ng-repeat="p in processNameList">
                                            <td width="16%" class="pl30 c3" valign="top">前置条件{{$index+1}}: </td>
                                            <td >
                                                <input  type="text" placeholder="请输入......" ng-model="p.processName" name="processitem1" class="l-projectinput"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            <tr ng-show="flag2">
                                <td  class="pl30 c3" valign="top"> </td>
                                <td >
                                    <a href="javascript:void(0)" ng-click="addcondition()" class="l-addtab radius"><i  class="  l-addbnt iconfont" ></i><em class="ml10">添加前置条件</em></a>
                                </td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt30 pb55 tc">
                             <button type="button" ng-click="savebnt2(parentId)" class="hop-save disinblock w133 hoptap radius saveDisabled">保存</button>
                    <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close" ng-click="cancel()">取消</a>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <!--添加信息-->
        <div class="dialog addinfo">
            <div class="dialog-bg"></div>
            <div class="dialog-cont w875 radius    hop-cont">
                <div class="back-white">
                    <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                        <em class="left fs18 c3">添加信息</em>
                        <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                    </h3>
                    <form action="" name="form">
                        <div class="pt20 pl30 pr30">

                            <table width="100%" class=" hop-table lh50  hop-ruletale" cellpadding="0" cellspacing="0">
                                <tr ng-show="detailId1">
                                    <td width="13%" class="pl30 c3" valign="top">负责人: </td>
                                    <td class="relative">
                                        <input type="text"  placeholder="请输入....." class="l-projectinput fl" ng-model="peoplename" ng-click="ulshow(peoplename)" ng-blur="ulcancel(peoplename)" ng-keyup="serachsomthing(peoplename)" name="username"/>
                                        <div class="absolute zIndex ulshow" ng-show="searchlist" style="top:38px">
                                            <ul>
                                                <li ng-repeat="s in searchlist" ng-click="getname(s.id,s.realname)">{{s.realname}}</li>
                                            </ul>
                                        </div>
                                        <span class="cred lh34" ng-if="check.peoplenameFlag">*负责人不能为空</span>
                                    </td>
                                </tr>
                                <tr ng-show="detailId2">
                                    <td width="13%" class="pl30 c3" valign="top">完成时间: </td>
                                    <td class="clearfix relative">
                                        <input type="text" name="time"  class="test3 l-projectinput relative mt6 pointer" ng-model="completeTime" ng-blur="timecancel(completeTime)">
                                        <i class="test4 c-iconfont c-spgltspi time-t48" ng-click="mychange('test3','test4',1)"></i>
                                    </td>
                                </tr>
                                <tr ng-show="detailId3">
                                    <td width="13%" class="pl30 c3" valign="top">备注: </td>
                                    <td >
                                        <input  type="text"  placeholder="请输入......" ng-model="remark" name="remark"  class="l-projectinput fl" ng-blur="remarkcancel(remark)"/>
                                        <span style="color:red;" ng-if="check.remarkFlag">*备注不能为空</span>
                                    </td>
                                </tr>
                                <tr ng-show="detailId4">
                                    <td width="13%" class="pl30 c3" valign="top">附件: </td>
                                    <td >
                                    <span class="btn btn-info fileinput-button radius5 ">
                                    <span>添加附件</span>
                                          <input ng-file-select="addannex($files)" type="file" name="annex"/>
                                    </span>
                                        <span>
                                        {{fileName}}
                                    </span>
                                        <span style="color:red;" ng-if="check.annexFlag">*附件不能为空</span>
                                    </td>
                                </tr>
                            </table>
                            <span class="hop-bntap disblock pt30 pb55 tc">
                                <button type="button" ng-click="addInfoList(processid,selid,detailId1,detailId2,detailId3,detailId4)" class="hop-save disinblock w133 hoptap radius saveDisabled">保存</button>
                    <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close" ng-click="cancel()">取消</a>
                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog addinfo">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w875 radius    hop-cont">
            <div class="back-white">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">添加信息</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                </h3>
                <form action="" name="form">
                    <div class="pt20 pl30 pr30">

                        <table width="100%" class=" hop-table lh50  hop-ruletale" cellpadding="0" cellspacing="0">
                            <tr ng-show="detailId1">
                                <td width="13%" class="pl30 c3" valign="top">负责人: </td>
                                <td class="relative">
                                    <input type="text"  placeholder="请输入....." class="l-projectinput fl" ng-model="peoplename" ng-click="ulshow(peoplename)" ng-blur="ulcancel(peoplename)" ng-keyup="serachsomthing(peoplename)" name="username"/>
                                    <div class="absolute zIndex ulshow" ng-show="searchlist" style="top:38px">
                                        <ul>
                                            <li ng-repeat="s in searchlist" ng-click="getname(s.id,s.realname)">{{s.realname}}</li>
                                        </ul>
                                    </div>
                                    <span class="cred lh34" ng-if="check.peoplenameFlag">*负责人不能为空</span>
                                </td>
                            </tr>
                            <tr ng-show="detailId2">
                                <td width="13%" class="pl30 c3" valign="top">完成时间: </td>
                                <td class="clearfix relative">
                                    <input type="text" name="time"  class="test1 l-projectinput relative mt6 pointer" ng-model="completeTime" ng-blur="timecancel(completeTime)">
                                    <i class="test2 c-iconfont c-spgltspi time-t48" ng-click="mychange('test1','test2',1)"></i>
                                </td>
                            </tr>
                            <tr ng-show="detailId3">
                                <td width="13%" class="pl30 c3" valign="top">备注: </td>
                                <td >
                                    <input  type="text"  placeholder="请输入......" ng-model="remark" name="remark"  class="l-projectinput fl" ng-blur="remarkcancel(remark)"/>
                                </td>
                            </tr>
                            <tr ng-show="detailId4">
                                <td width="13%" class="pl30 c3" valign="top">附件: </td>
                                <td >
                                    <span class="btn btn-info fileinput-button radius5 ">
                                    <span>添加附件</span>
                                          <input ng-file-select="addannex($files)" type="file" name="annex"/>
                                    </span>
                                    <span>
                                        {{fileName}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <span class="hop-bntap disblock pt30 pb55 tc">
                            <button type="button" ng-click="addInfoList(processid,nameVal?nameVal:selid,detailId1,detailId2,detailId3,detailId4)" class="hop-save disinblock w133 hoptap radius saveDisabled">保存</button>
                    <a href="javascript:void(0)" class="hop-canle disinblock w133 hoptap ml20 radius dialog-close" ng-click="cancel()">取消</a>
                </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="dialog watchson">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w875 radius    hop-cont">
            <div class="back-white process-height">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">查看前置条件</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                </h3>
                <div class="l-managetable mt20">
                    <div class="l-managetable c-bordere6">
                        <table width="100%" class=" l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>名称</th>
                                <th>类型</th>
                                <th>是否完成</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="w in watchList">
                                <td>{{w.processName}}</td>
                                <td>前置</td>
                                <td>{{w.accomplish==1?'已完成':'未完成'}}</td>
                                <td><a ng-if="w.accomplish==0" href="" ng-click="complete(w.id,parentid)">完成</a>
                                    <span ng-if="w.accomplish==1">已完成</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog watchannex">
        <div class="dialog-bg"></div>
        <div class="dialog-cont w875 radius    hop-cont">
            <div class="back-white process-height">
                <h3 class=" lh55 pl20 border-bottom pr20 clearfix">
                    <em class="left fs18 c3">查看附件列表</em>
                    <a href="javascript:void(0)" class="dialog-close iconfont hop-closebnt right mt15" ng-click="cancel()"></a>
                </h3>
                <div class="l-managetable mt20">
                    <div class="l-managetable c-bordere6">
                        <table width="100%" class=" l-tablebox l-ruletab c-bordernone" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>附件名</th>
                                <th>上传者</th>
                                <th>附件大小</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="f in fileList">
                                <td>{{f.fileName}}</td>
                                <td>{{f.realname}}</td>
                                <td>{{f.fileSize}}</td>
                                <td><a href="{{link}}" ng-click="downloadFile(f.id)">下载</a>
                                    <a ng-click="deleteFile(f.id)">删除</a>
                                    </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


